# Expressions, Values, and Operators

## Python as a Calculator
In the following cell, enter and run (shift+enter or the Execute button) a simple math problem

In [1]:
2+2

4

Then evaluate the following

In [2]:
(5 - 1) * ((7 + 1) / (3 - 1))

16.0

## Errors in Python
Fix the following error, then execute the cell

In [4]:
# Not sue what this is asking for. I just added a number so it would add instead of errroring
5 + 30698

30703

## Data Types
1. Concatenate your name, the name of this course, and your age
2. Try concatenating your age without first converting it to a string. Examine the resulting error.

In [6]:
"Nathan Duggins " + "GIS3011 " + str(42)

'Nathan Duggins GIS3011 42'

In [7]:
"Nathan Duggins " + "GIS3011 " + 42

TypeError: can only concatenate str (not "int") to str

## Variables
Create a variable for spam, eggs, and bacon. Assign them a string. Concatenate the variables to make a full sentence about breakfast.

In [16]:
sp="spam"
egg="eggs"
bac="bacon"
print(f"I like {egg} and {bac}, but I don't enjoy {sp}.")

I like eggs and bacon, but I don't enjoy spam .

## Statements

Enter the expression: 2 + 2
Then assign the variable spam to the expression 2 + 2
Then use the variable “spam” to increase the variable spam by 5

In [21]:
spam = 2+2
spam

4

In [22]:
spam = spam + 5
spam

9

## Writing a Simple Program with Inputs
Up next, we are going to write a program which asks for a user’s name and then greets them 
1. Write a multiline comment which describes the program on more that one line
2. In a few slides, we will add more code to the program

In [30]:
"""Asks for a user's name 
and then greets them.
"""

"Asks for a user's name \nand then greets them.\n"

In [26]:
name=input("what is your name?")

what is your name? Nathan

In [29]:
print(f"Hello, {name}, it's nice to meet you")

Hello, Nathan, it's nice to meet you

In [33]:
length=len(name)
print(f"The length of your name is {length}")

The length of your name is 6

In [36]:
age=int(input("What is your age?"))

What is your age? 42

In [40]:
print("You will be " + str((age)+1) + " in a year.")

You will be 43 in a year.

## Boolean Values and Comparison Operators
1. Enter and evaluate several Boolean operators, as seen in Slide 13

In [41]:
42 ==42

True

In [42]:
42=="hello"

False

In [43]:
42=='42'

False

In [44]:
42.0==42

True

In [45]:
age == 43

False

## Combining Booleans and Comparison Operators
1. Enter and evaluate the code you see in Slide 17

In [49]:
myAge = 42
myPet="cat"
myAge >20 and myPet == "cat"

True

In [50]:
myAge > 20 and myPet == "dog"

False

# Flow Control
## elif Statments
1. Enter and evaluate the code from Slide 24

In [58]:
name = input("What is your name?")
age = int(input("What is your age?"))

if name == 'Alice':
    print('Hi, Alice.')
elif age < 12:
    print('You are not Alice, kiddo.')
elif age > 2000:
    print('Unlike you, Alice is not an undead, immortal vampire.')
elif age > 100:
    print('You are not Alice, grannie.')
elif age < 100:
    print('You are a baby')

What is your name? nathan
What is your age? 42

You are a baby

## while Loop Statements
1. Enter and evaluate the code from Slide 26 in two seperate cells

In [53]:
spam = 0
while spam < 5:
    print("Hello, world.")
    spam = spam + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

In [54]:
spam = 0
if spam < 5:
    print("Hello, world.")
    spam = spam + 1

Hello, world.

## Infinate while Loops
1. Run the following cell
2. Why doesn't it seem to end? Either terminate the kernel or read the code to figure out how to stop the loop

In [64]:
name = ''
while name == '':
    print("Please enter your name")
    name = input()
print('Thank you ' + name + '!')

Please enter your name

 Nathan

Thank you Nathan!

## Break Statements
Compare the following code to the above code. Why does the following not create an infinate loop?

In [62]:
while True:
    print('Please type your name')
    name = input()
    if name == 'your name'
        break
print('Thank you ' + name)

SyntaxError: expected ':' (3179945704.py, line 4)

Even though it's looking for 'your name' exactly the break statement stops it

## Continue Statements

In [63]:
while True:
     print('Who are you?')
     name = input()
     if name != 'Joe':
        continue
     print('Hello Joe. What is the password? (Hint: It’s a fish.)')
     password = input()
     if password == 'swordfish':
          break
print('Access Granted for ' + name)

Who are you?

 ben

Who are you?

 Joe

Hello Joe. What is the password? (Hint: It’s a fish.)

 swordfish

Access Granted for Joe

## The Range Function
1. Enter the code you see in slide 31 in the following two cells. Edit the values to see how it changes the execution.

In [65]:
print('My name is')
for i in range(5):
    print('Jimmy Five Times (' + str(i) + ')')

My name is
Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

In [66]:
print('\nMy name is')
i = 0
while i < 5:
    print('Jimmy Five Times (' + str(i) + ')')
    i = i + 1

My name is
Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

# The sys.exit() Function
1. Enter and execute the code on slide 32

In [67]:
import sys

while True:
    print('Type exit to exit.')
    response = input()
    if response == 'exit':
        sys.exit()
    print('You typed ' + response + '.')

Type exit to exit.

 poop

You typed poop.
Type exit to exit.

 exit

SystemExit:

C:\Users\natha\miniconda3\envs\gis-3011\lib\site-packages\IPython\core\interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# Global and Local Variables

In [1]:
def spam():
    eggs = 42
spam()
print(eggs)

NameError: name 'eggs' is not defined

In [2]:
def spam():
    eggs = 99
    bacon()
    print(eggs)
def bacon():
    ham =101
    eggs = 0
spam()

99

In [3]:
def spam():
   print(eggs)
eggs = 42
spam()
print(eggs)

42
42

In [4]:
def spam():
    eggs = 'over easy'
    print(eggs)    # prints 'over easy'

def bacon():
    eggs = 'hard boiled'
    print(eggs)    # prints 'head boiled'
    spam()
    print(eggs)    # prints 'hard boiled' 

eggs = 'poached'
bacon()
print(eggs)        # prints 'poached'

hard boiled
over easy
hard boiled
poached

In [5]:
def spam():
    global eggs
    eggs = 'over easy'
eggs = "hard boiled"
spam()
print(eggs)

over easy

In [6]:
def spam():
   print(eggs) #ERROR
   eggs = 'poached local'

Eggs = 'hard boiled'
spam()

UnboundLocalError: local variable 'eggs' referenced before assignment

# Exception Handling

In [7]:
def spam(divideBy):
    return 42 / divideBy

In [8]:
def spam(divideBy):
    try:
        return 42 / divideBy
        except ZeroDivisionError:
print('Error: Invalid argument.')

SyntaxError: invalid syntax (3928167524.py, line 4)

In [9]:
def spam(divideBy):
    return 42 / divideBy
try:
    print(spam(2))
    print(spam(12))
    print(spam(0))
    print(spam(1))
except ZeroDivisionError:
    print('Error: Invalid argument.')

21.0
3.5
Error: Invalid argument.

# The List Data Type

In [10]:
spam = ['cat', 'bat', 'rat', 'elephant']

# Working with Lists

In [13]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[:2]

['cat', 'bat']

In [14]:
catName1 = 'Zophie'
catName2 = 'Pooka'
catName3 = 'Simon'
catName4 = 'Lady Macbeth'
catName5 = 'Fat-tail'
catName6 = 'Miss Cleo'

In [15]:
print('Enter the name of cat 1:')
catName1 = input()
print('Enter the name of cat 2:')
catName2 = input()
print('Enter the name of cat 3:')
catName3 = input()
print('Enter the name of cat 4:')
catName4 = input()
print('Enter the name of cat 5:')
catName5 = input()
print('Enter the name of cat 6:')
catName6 = input()
print('The cat names are:')
print(catName1 + ' ' + catName2 + ' ' + catName3 + ' ' + catName4 + ' ' +
catName5 + ' ' + catName6)

Enter the name of cat 1:

 Matthew

Enter the name of cat 2:

 mark

Enter the name of cat 3:

 luke

Enter the name of cat 4:

 john

Enter the name of cat 5:

 jesus

Enter the name of cat 6:

 satan

The cat names are:
Matthew mark luke john jesus satan

In [16]:
catNames = []
while True:
    print('Enter the name of cat ' + str(len(catNames) + 1) + ' (Or enter nothing to stop.):')
    name = input()
    if name == '':
        break
    catNames = catNames + [name] # list concatenation
print('The cat names are:')
for name in catNames:
    print(' ' + name)

Enter the name of cat 1 (Or enter nothing to stop.):

 Bobo

Enter the name of cat 2 (Or enter nothing to stop.):

 bilbo

Enter the name of cat 3 (Or enter nothing to stop.):

 bandicoot

Enter the name of cat 4 (Or enter nothing to stop.):

 bandit

Enter the name of cat 5 (Or enter nothing to stop.):

 bojang

Enter the name of cat 6 (Or enter nothing to stop.):

The cat names are:
 Bobo
 bilbo
 bandicoot
 bandit
 bojang

# Using for Loops with Lists

In [17]:
for i in range(4):
    print(i)

0
1
2
3

is the same as

In [18]:
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

However, the range function only works with numbers. Here is one way to complete a for loop with strings

In [19]:
supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for i in range(len(supplies)):
    print('Index ' + str(i) + ' in supplies is: ' + supplies[i])

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flamethrowers
Index 3 in supplies is: binders

Instead of the command range(len(someList)) with a for loop to obtain the integer index of the items in the list, you can use the enumerate() function instead. On each iteration of the loop, enumerate() will return two values: the index of the item in the list and the list items itself. 

The enumerate() function is useful if you need both the item and the item’s index in the loop’s block.

In [21]:
supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for index, item in enumerate(supplies):
    print('Index ' + str(index) + ' in supplies is: ' + item)

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flamethrowers
Index 3 in supplies is: binders

# The in and not in Operators

In [23]:
myPets = ['Zophie', 'Pooka', 'Fat-tail']
print('Enter a pet name:')
name = input()
if name not in myPets:
    print('I do not have a pet named ' + name)
else:
    print(name + ' is my pet.')

Enter a pet name:

 Pooka

Pooka is my pet.

# Using the random.choice() and random.shuffle() Functions with Lists
Run the following cells more than once and see what happens

In [27]:
import random
pets = ["Dog", "Cat", "Moose"]
random.choice(pets)

'Dog'

In [29]:
people = ["Alice", "Bob", "Carol", "David"]
random.shuffle(people) 
people

['Bob', 'Alice', 'Carol', 'David']

# List Methods
1. Create a list
2. Use the insert, append, index, remove, sort, and reverse methods on that list
See the slide for examples

In [30]:
dinos = ["Spike", "Tiny", "Rex", "Suzy"]

In [31]:
dinos.index("Rex")

2

In [33]:
dinos.insert(3, "Whiskers")
dinos

['Spike', 'Tiny', 'Rex', 'Whiskers', 'Suzy']

In [34]:
dinos.append("Grumpy")
dinos

['Spike', 'Tiny', 'Rex', 'Whiskers', 'Suzy', 'Grumpy']

In [36]:
dinos.remove("Grumpy")
dinos

['Spike', 'Tiny', 'Rex', 'Whiskers', 'Suzy']

In [37]:
dinos.sort()
dinos

['Rex', 'Spike', 'Suzy', 'Tiny', 'Whiskers']

In [38]:
dinos.reverse()

In [39]:
dinos

['Whiskers', 'Tiny', 'Suzy', 'Spike', 'Rex']